<div class="home-container">
  <div class="home-text">
    <h3>Your furniture is old</h3>
    <h4>Ours is older</h4>
    <span><%= link_to "Check out our products", "/products/list" %></span>
    <img src="http://bohmphotography.com/wp-content/flagallery/professional-photography-studio/1westsidepanels_0010_96_7x.jpg"/>
  </div>
</div>
