// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.col-md-3{
  min-height: 343px;
  margin-bottom: 25px;
}

.product-box{
  // min-height: 418px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 2px #ccc;
  border-radius: 6px;
  img{
    width: 100%;
    height: auto;
  }
}
